<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lucas9.lblog.mapper.ArticleMapper">
    <select id="selectArticles" resultType="top.lucas9.lblog.vo.ArticleVo">
        select a.id,
               a.title,
               a.content,
               a.edit_mode,
               a.category_id,
               a.user_id,
               a.vote_up,
               a.vote_down,
               a.view_count,
               a.comment_count,
               a.recommend,
               a.level,
               a.status,
               a.created,
               a.modified,

               u.id       as authorId,
               u.username as authorName,
               u.avatar   as authorAvatar,

               c.id       as categoryId,
               c.name     as categoryName
        from `article` a
                 left join `user` u on a.user_id = u.id
                 left join `category` c on a.category_id = c.id
            ${ew.customSqlSegment}
    </select>
    <select id="selectOneArticle" resultType="top.lucas9.lblog.vo.ArticleVo">
        select a.id,
               a.title,
               a.content,
               a.edit_mode,
               a.category_id,
               a.user_id,
               a.vote_up,
               a.vote_down,
               a.view_count,
               a.comment_count,
               a.recommend,
               a.level,
               a.status,
               a.created,
               a.modified,

               u.id       as authorId,
               u.username as authorName,
               u.avatar   as authorAvatar,

               c.id       as categoryId,
               c.name     as categoryName
        from `article` a
                 left join user u on a.user_id = u.id
                 left join `category` c on a.category_id = c.id
            ${ew.customSqlSegment}
    </select>
</mapper>
